<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="margin-right: 16px">Angular CDK</span>
    <ng-container *ngIf="!(smScreen$ | async)">
      <div>The browser is: </div>
      <div [ngSwitch]="true">
        <div *ngSwitchCase="platform.BLINK">Chrome</div>
        <div *ngSwitchCase="platform.SAFARI">Safari</div>
        <div *ngSwitchCase="platform.TRIDENT">Int. Exp.</div>
        <div *ngSwitchDefault>Unknown browser</div>
      </div>
    </ng-container>

    <button mat-button style="margin-left: auto" (click)="createDialog()">Open Dialog</button>
  </mat-toolbar-row>
</mat-toolbar>

<main class="content">

  <app-drop-down-search></app-drop-down-search>

    <h2 *ngIf="!(xlScreen$ | async)">на скрине от 1400px и выше</h2>
    <h2 *ngIf="!(smScreen$ | async) && (xlScreen$ | async)"> от 768px до 1399.98px  </h2>
    <h2 *ngIf="smScreen$ | async">на скрине от 767.98px и ниже</h2>


  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
  <p style="margin-bottom: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nostrum dolorem earum a alias reiciendis id atque tempore perferendis temporibus harum ratione voluptates suscipit impedit praesentium soluta ab doloremque, similique nihil. In mollitia dignissimos ratione deserunt alias libero, fuga consequatur! </p>
</main>
